<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="nav">
            <h3 class="logo">CALMSCAPE</h3>
            <ul>
                <li><a href="/registration">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/registration">Health care support</a></li>
            </ul>
        </div>
    </div>
</body>

</html>