<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="precibehead">
        <h1>{{head}}</h1>
    </div>
    <div class="precribebox">
        <h2>Prescription:</h2><br>
        <h3>{{text}}</h3>
    </div>
     <h1 class="Activities">Activites To Do</h1>
    <div class="activitybox">
        <a href="/cargame">
            <div class="Game1">
                <img src="/css/racing-game.png" width="100px" alt="">
                <h3>Car Racing</h3>
            </div>
        </a>
        <a href="/bubblegame">
            <div class="Game2">
                <img src="/css/bubble.png" width="100px" alt="">
                 <h3>Game 2</h3>
            </div>
        </a>
    </div>

    {{!-- yoga section  --}}
    <h1 class="Activities">Meditation</h1>
    <div class="activitybox">
        <a href="">
            <div class="Game1">
                <img src="/css/yoga.png" width="100px" alt="">
                <h3>yoga1</h3>
            </div>
        </a>
        <a href="">
            <div class="Game2">
                <img src="/css/yoga.png" width="100px" alt="">
                 <h3>yoga2</h3>
            </div>
        </a>
        </a>
        <a href="">
            <div class="Game2">
                <img src="/css/yoga.png" width="100px" alt="">
                 <h3>yoga3</h3>
            </div>
        </a>
    </div>
</body>
</html>