<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worng password</title>
    {{>header}}
</head>
<body>
    {{>navbar}}
    
    <div class="wrong">
        <h1 >Wrong password</h1>
    </div>
</body>
</html>